<h3>Редактирование мероприятия</h3>

<%= form_for :event, url: admin_event_path(@event), method: :patch do |e| %>
  <% if @event.errors.any? %>
    <% @event.errors.full_messages.each do |msg| %>
      <div class="alert alert-danger"><%= msg %></div>
    <% end %>
  <% end %>

  <p>
    <% if @event.image? %>
      <%= image_tag @event.image, :class => "admin-img" %>
    <% end %>
  </p>
  <p>
    <%= e.file_field :image %>
  </p>
  <p>
    <%= e.label "Название мероприятия" %><br>
    <%= e.text_field(:name, {:class => 'form-control'}) %>
  </p>
  <p>
    <%= e.label "Город" %><br>
    <%= e.text_field(:city, {:class => 'form-control'}) %>
  </p>
   <p>
    <%= e.label "Адрес" %><br>
    <%= e.text_field(:address, {:class => 'form-control'}) %>
  </p>
  <p>
    <%= e.label "Описание" %><br>
    <%= e.text_area(:description, {:class => 'form-control'}) %>
  </p>
  <p>
    <%= e.label "Дата и время" %><br>
    <%= e.datetime_field(:date, {:class => 'form-control'}) %>
  </p>
  <p>
    <%= e.label "Внешняя ссылка на мероприятие" %><br>
    <%= e.text_field(:external_link, {:class => 'form-control'}) %>
  </p>
  <%= e.label :organizer %>
    <%= collection_select(:event, :organizer_id, Organizer.all, :id, :name, {}, {:multiple => false}) %>
  </p>
  <p>
    <%= e.submit("Редактировать мероприятие", {:class => 'btn btn-primary'}) %>
  </p>
<% end %>

<hr>
<%= link_to 'Назад', admin_events_path, method: :get, :class => 'btn btn-outline-secondary' %>