<h1>Admin panel</h1>
<br>
<table id='t01' class="table">
	<tr>
		<th>ID</th>
		<th>Name</th>
		<th colspan="3">Actions</th>
	</tr>
<% @events.each do |event| %>
	<tr>
		<td><%= event.id %></td>
		<td><%= event.name %></td>
		<td><%= link_to "Просмотр", admin_event_path(event.id), :class => 'btn btn-outline-info' %></td>
		<td><%= link_to "Редактировать", edit_admin_event_path(event.id), {:class => 'btn btn-outline-warning'} %></td>
		<td><%= link_to "Удалить", admin_event_path(event.id), 
								method: :delete,
								data: {confirm: 'Вы уверены?'},
								:class => 'btn btn-outline-danger' %>
		</td>
	</tr>
<% end %>
</table>
<%= link_to "Создать мероприятие", new_admin_event_path, :class => "btn btn-outline-primary" %>
<%= will_paginate @collection, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>