<%= image_tag @event.image, :class => "card-img" %>
<p>
  <strong>Мероприятие:</strong>
  <%= @event.name %>
</p>
<p>
  <strong>Город:</strong>
  <%= @event.city %>
</p>
<p>
  <strong>Адрес:</strong>
  <%= @event.address %>
</p>
<p>
  <strong>Описание:</strong>
  <%= @event.description %>
</p>
<p>
  <strong>Дата и время проведения:</strong>
  <%= @event.date%>
</p>
<p>
  <strong>Организатор:</strong>
  <%= @organizer.name %>
</p>

<%= link_to 'Назад', admin_events_path, method: :get, :class => 'btn btn-outline-secondary' %>
